.main-nav-wrap {
    background-image: linear-gradient(to bottom , rgb(255, 255, 255),rgb(172, 244, 242));
    .left-nav-wrap {
        margin-top: 2rem;
        padding: 2rem 0;
        a {  
            margin: 0;
            text-align: center;
            font-family: $lato;
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            color:rgb(5, 65, 68);
            width: 5.6rem;
            padding: .5rem .5rem;
            font-size: 1.4rem;
            border-right:1px solid rgb(5, 65, 68);
            @include response(md) {
                width: 7.7rem;
                font-size: 1.8rem;
                letter-spacing: 1px;
                }
            @include response(lg) {width: 9.7rem;}
            @include response(xl) {width: 11.7rem; font-size: 2.2rem;}
            &:hover {
                color:rgb(255, 255, 255);
                background-color: rgba(8, 95, 99, 1);
                transition: .5s ease;
            }
        }
        .rt { border-right: none;}
    }
    .right-nav-wrap {
        margin-top: 2rem;
        padding: 2rem 0;
        a {
            display: inline-block;
            margin: 0 .1rem;
            padding:.5rem 1rem;
            color:rgb(255, 255, 255);
            font-weight: 700;
            font-size: 1.5rem;
            border:1px solid $green-color;
            transition: .5s ease;
            border-radius: 2px;
            background-color: rgb(15, 99, 103);
            text-decoration: none;
            i {margin-right: .5rem;}
            &:hover {background-color: rgb(0, 0, 0);}

            @include response(md) {
                margin: 0 .5rem;
            }
        }
    }
}
.nav-padding {padding: 0;}
.mobile-nav-wrap {
    font-family: $lato;
    padding: 1rem 0;
    background-image: linear-gradient(to bottom , rgb(255, 255, 255),rgb(172, 244, 242));
    .menu-btn-wrap {
        padding:0;
        button {
            letter-spacing: 3px;
            font-size: 1.2rem;
            color:#fff;
            font-weight: 700;
            padding:.5rem 4rem;
            border:1px solid $green-color;
            transition: .5s ease;
            border-radius: 5px;
            background-color: rgb(15, 99, 103);
            text-decoration: none;
            outline: none;
            @include response(sm) {font-size: 1.8rem;}
        }
    }
}
.nav-mobile {
    background-image: linear-gradient(to bottom , rgb(255, 255, 255),rgb(172, 244, 242));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr );
    grid-gap: 2rem;
    padding: 2rem 4rem 2rem 4rem;
    
.wrap {
    background-color: rgb(15, 99, 103);
    padding-bottom: .5rem;
    &--s {
        grid-column: 1 / span 2;
        grid-row: span;
    }
        .link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            padding-top: 0.5rem;

            i{
            margin-bottom: 1rem;
            font-size: 1.7rem;
            color: rgba(255, 255, 255, 0.8);
            @include response(xxs-max) {font-size: 1rem;} 
            }

            span {
            color: rgb(255, 255, 255);
            font-size: 1.3rem;
            font-weight: 700;
            @include response(xxs-max) {font-size: 1rem;} 
            }

            .icons {
                display: block;
                width:2rem;
                height:2rem;
                background-repeat: no-repeat;
                background-position: center; 
                background-size: contain;
            }
            .tips {background-image: url(../images/tips_icon_light.png);}
            .sing-up {background-image: url(../images/sing_up.png);}
            .work {background-image: url(../images/work_icon.png);}
            .life {background-image: url(../images/life_icon.png);}
            .trip {background-image: url(../images/trip_icon.png);}
            .home {background-image: url(../images/home_icon.png);}
            .login {background-image: url(../images/login.png);}
            .add_tip {background-image: url(../images/add_tip.png);}
            .logout {background-image: url(../images/logout_icon.png);}
            .profile {background-image: url(../images/profile.png);}
        }
    }
}






