{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col">
            <section class="section-life">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6">
                                <h1>TIPS</h1>
                                <div class="intro-life">
                                    <p><strong>You know that saying "Bits and pieces"!?</strong></p>
                                    <p>
                                        Well, here you read what our members are posting regarding travel, 
                                        new work opportunities, the best burger in town, favorite place for a cup of coffee or tea,  
                                        how to get from point A to point B the fastest way.
                                        You know, stuff like that!
                                    </p>
                                    <p><strong>Or!</strong></p>
                                    <p>
                                        When you create your
                                        <strong><a href="{{ url_for('registration')}}">Profile</a></strong>,
                                         you can create and publish a useful tip and share it with our members.
                                    </p>
                                    <p><strong>Nice one, right?!</strong></p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 p-4">
                                <div id="my-carousel" class="carousel slide carousel-fade" data-ride="carousel"
                                    data-interval="2000">
                                    <div class="carousel-inner gal-img">
                                        <div class="carousel-item active">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/tips-gal-01.png')}}"
                                                alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/tips-gal-02.png')}}"
                                                alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="{{ url_for('static', filename='images/tips-gal-03.png')}}"
                                                alt="Third slide">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="row justify-content-between">
                                    <div class="col-12 col-md-5 text-center">
                                        <h2 class="sub-tips-h2">TRIP</h2>
                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                {% for post in posts %}
                                                    {% if post.tip_category == "Trip" %}
                                                        <div class="row justify-content-center mb-4 bg-info">
                                                            <div class="col-12 tips-card-wrap">
                                                                <div class="row justify-content-center head-wrap p-0">
                                                                    <div class="col-4 profile-img p-0">
                                                                        <img src="{{ url_for('static', filename='images/Logo.png')}}" 
                                                                            width="55" alt="Logo">
                                                                    </div>
                                                                    <div class="col-4 user-name text-center">
                                                                        <h3>{{ post.created_by }}</h3>
                                                                    </div>
                                                                    <div class="col-4 wrap p-0">
                                                                        <img src="{{ url_for('static', filename='images/public_transport_icon.png')}}" 
                                                                            class="img-fluid" width="35" alt="Trip">
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center footer-line border-card-wrap">
                                                                    <div class="col-4 l"></div>
                                                                    <div class="col-4 g"></div>
                                                                    <div class="col-4 l"></div>
                                                                </div>
                                                                <div class="row justify-content-between content-wrap">
                                                                    <div class="col-10 p-0 text-left">
                                                                        <h3>{{ post.tip_title }}</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-between post">
                                                                    <div class="col-12 p-0 text-left ">
                                                                        <p>{{ post.tip_description }}</p>
                                                                    </div>
                                                                </div>

                                                                {% if current_user.username == post.created_by %}
                                                                <div class="row justify-content-between post">
                                                                    <div class="col-12 p-0 text-left ">
                                                                        <a href="{{ url_for('edit_tips', post_id=post._id)}}">EDIT</a>
                                                                        <button>DELETE</button>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 ver-border-wrap text-center">
                                        <div class="vertical-border-div p-2"></div>
                                    </div>
                                    <div class="col-12 d-md-none mt-3 mb-2">
                                        <div class="row justify-content-center footer-line">
                                            <div class="col-4 l"></div>
                                            <div class="col-2 g"></div>
                                            <div class="col-4 l"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <h2 class="sub-tips-h2">WORK</h2>
                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                {% for post in posts %}
                                                    {% if post.tip_category == "Work" %}
                                                        <div class="row justify-content-center mb-4 bg-info">
                                                            <div class="col-12 tips-card-wrap">
                                                                <div class="row justify-content-center head-wrap p-0">
                                                                    <div class="col-4 profile-img p-0">
                                                                        <img src="{{ url_for('static', filename='images/Logo.png')}}" 
                                                                            width="55" alt="Logo">
                                                                    </div>
                                                                    <div class="col-4 user-name text-center">
                                                                        <h3>{{ post.created_by }}</h3>
                                                                    </div>
                                                                    <div class="col-4 wrap p-0">
                                                                        <img src="{{ url_for('static', filename='images/work_tip_icon.png')}}" 
                                                                            class="img-fluid" width="45" alt="Trip">
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center footer-line border-card-wrap">
                                                                    <div class="col-4 l"></div>
                                                                    <div class="col-4 g"></div>
                                                                    <div class="col-4 l"></div>
                                                                </div>                       
                                                                <div class="row justify-content-between content-wrap">
                                                                    <div class="col-10 p-0 text-left">
                                                                        <h3>{{ post.tip_title }}</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-between post">
                                                                    <div class="col-12 p-0 text-left">
                                                                        <p>{{ post.tip_description }}</p>
                                                                    </div>
                                                                </div>
                                                                {% if current_user.username == post.created_by %}
                                                                <div class="row justify-content-between post">
                                                                    <div class="col-12 p-0 text-left ">
                                                                        <button>EDIT</button>
                                                                        <button>DELETE</button>
                                                                    </div>
                                                                </div>
                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-none d-md-block">
                                    <div class="col-12">
                                        <div class="row justify-content-between">
                                            <div class="col-5 p-2 sub-section-border"></div>
                                            <div class="col-5 p-2 sub-section-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row justify-content-between">
                                    <div class="col-12 d-md-none mt-3 mb-2">
                                        <div class="row justify-content-center footer-line">
                                            <div class="col-4 l"></div>
                                            <div class="col-2 g"></div>
                                            <div class="col-4 l"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <h2 class="sub-tips-h2">STUDY</h2>
                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                {% for post in posts %}
                                                    {% if post.tip_category == "Study" %}
                                                        <div class="row justify-content-center mb-4 bg-info">
                                                            <div class="col-12 tips-card-wrap">
                                                                <div class="row justify-content-center head-wrap p-0">
                                                                    <div class="col-4 profile-img p-0">
                                                                        <img src="{{ url_for('static', filename='images/Logo.png')}}" 
                                                                            width="55" alt="Logo">
                                                                    </div>
                                                                    <div class="col-4 user-name text-center">
                                                                        <h3>{{ post.created_by }}</h3>
                                                                    </div>
                                                                    <div class="col-4 wrap p-0">
                                                                        <img src="{{ url_for('static', filename='images/study_tip_icon.png')}}" 
                                                                            class="img-fluid" width="45" alt="Trip">
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center footer-line border-card-wrap">
                                                                    <div class="col-4 l"></div>
                                                                    <div class="col-4 g"></div>
                                                                    <div class="col-4 l"></div>
                                                                </div>                                                              
                                                                <div class="row justify-content-between content-wrap">
                                                                    <div class="col-10 p-0 text-left">
                                                                        <h3>{{ post.tip_title }}</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-between post">
                                                                    <div class="col-12 p-0 text-left">
                                                                        <p>{{ post.tip_description }}</p>
                                                                    </div>
                                                                </div>
                                                                {% if current_user.username == post.created_by %}
                                                                <div class="row justify-content-between post">
                                                                    <div class="col-12 p-0 text-left ">
                                                                        <a href="{{ url_for('edit_tips', post_id=post._id)}}">EDIT</a>
                                                                        <button>DELETE</button>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 ver-border-wrap text-center">
                                        <div class="vertical-border-div p-2"></div>
                                    </div>
                                    <div class="col-12 d-md-none mt-3 mb-2">
                                        <div class="row justify-content-center footer-line">
                                            <div class="col-4 l"></div>
                                            <div class="col-2 g"></div>
                                            <div class="col-4 l"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5 text-center">
                                        <h2 class="sub-tips-h2">FOOD</h2>
                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                {% for post in posts %}
                                                    {% if post.tip_category == "Food" %}
                                                        <div class="row justify-content-center mb-4 bg-info">
                                                            <div class="col-12 tips-card-wrap">
                                                                <div class="row justify-content-center head-wrap p-0">
                                                                    <div class="col-4 profile-img p-0">
                                                                        <img src="{{ url_for('static', filename='images/Logo.png')}}" 
                                                                            width="55" alt="Logo">
                                                                    </div>
                                                                    <div class="col-4 user-name text-center">
                                                                        <h3>{{ post.created_by }}</h3>
                                                                    </div>
                                                                    <div class="col-4 wrap p-0">
                                                                        <img src="{{ url_for('static', filename='images/food_tip_icon.png')}}" 
                                                                            class="img-fluid" width="45" alt="Trip">
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-center footer-line border-card-wrap">
                                                                    <div class="col-4 l"></div>
                                                                    <div class="col-4 g"></div>
                                                                    <div class="col-4 l"></div>
                                                                </div>
                                                                <div class="row justify-content-between content-wrap">
                                                                    <div class="col-10 p-0 text-left">
                                                                        <h3>{{ post.tip_title }}</h3>
                                                                    </div>
                                                                </div>
                                                                <div class="row justify-content-between post">
                                                                    <div class="col-12 p-0 text-left ">
                                                                        <p>{{ post.tip_description }}</p>
                                                                    </div>
                                                                </div>
                                                                {% if current_user.username == post.created_by %}
                                                                <div class="row justify-content-between post">
                                                                    <div class="col-12 p-0 text-left ">
                                                                        <a href="{{ url_for('edit_tips', post_id=post._id)}}">EDIT</a>
                                                                        <button>DELETE</button>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}